

:root{
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --primery-accent: #2196F3;
    --color-contacnts-footer: rgba(255, 255, 255, 0.6);
    --primery-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
}
 .body{
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color)

 }

span{
color: var(--primery-accent);
}

a {
    text-decoration: none;
    color:  var(--primery-text-color);

}
.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    }

    .header-logo:hover {
        color: var(--primery-accent)
    }

        .header-logo:focus {
            color: var(--primery-accent)
        }

/*Navigation*/
.nav-list{

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--primery-text-color);
        list-style-type: none;
      
    
       
}

.nav-list :focus {
    color: var(--primery-accent);
}

.nav-list :hover {
    color: var(--primery-accent);
}



/*Contacts*/
.contacts {
 
   
        color: teal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
            list-style-type: none;
   
     
}

.contacts :hover {
    color: var(--primery-accent);
}
.contacts :focus {
    color: var(--primery-accent);
}

/*HERO*/
.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primery-bg-color)
}

/*Button*/
.button{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,9;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primery-accent);
    cursor: pointer;
    
}




/*Aside*/
.aside-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
.aside-text{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*Work*/
.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

/*Our Team*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/*Adress*/

.adress {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
}


/*Footer*/
.footer {
    background-color: var(--primery-bg-color); 
    list-style: none;

}

.contacts {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  

}


    .footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;


}

.footer-logo:hover {
    color: var(--primery-accent)
}

.footer-logo:focus {
    color: var(--primery-accent)
}




.address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    list-style-type: none;
}


.portfolio-button {
    background-color: tomato;
    cursor: pointer;
    color: var(--primery-text-color);
}